.hotel-item{
	/* width:100%; */
	/*height:100px;*/
	background-color:white;
	border:solid 1px rgb(216,216,216);
	color:black;
}

#hotel-list td:nth-child(1){
	padding-left:20px;
}
#hotel-list td:nth-child(2){
	width:110px;
}
