
#calendar-head td div:nth-child(1){
	padding-bottom:10px;
}

.button{
	width:280px;
	padding:10px;
	font-size:18px;
	margin:10px;
	border:none;
	/*background-color:rgb(216,216,216);*/
	background-color:rgb(52,176,206);
  color:white;
}

#plan tr td:nth-child(1){
	font-size:14px;
	padding:20px 20px 20px 0px;
	text-align:right;
	width:30%;
}

#plan input {
	width:95%;
	border:none;
	font-size:14px;
	padding:7px 0px;
	text-align: center;
}

.edit-item{
	font-size: 15px;
	margin: 15px auto 0px auto;
	width: 280px;
	height: 35px;
	border: solid 1px rgb(216,216,216);
	border-radius: 10px;
}

.edit-field{
	border-radius: 7px 0px 0px 7px;
	background-color: rgb(216,216,216);
	float:left;
	line-height: 35px;
	text-align:center;
	border-right: solid 1px rgb(216,216,216);
	width: 90px;
	height: 35px;
	box-sizing: border-box;
}

.edit-value{
	float:right;
	height:36px;
}

#note{
	padding-top: 5px;
	height: 20px;
	width: 280px;
	margin: auto;
	color: rgb(89,111,230);
	font-size: 12px;
}

#reservation-condition{
	padding:10px;
}
.reservation-condition-op div{
	display: inline-block;
    font-size: 16px;
    line-height: 30px;
}
#reservation-condition > div.reservation-condition-op > div:nth-child(2) div{
	font-size: 20px;
    color: rgb(2,178,216);
    width: 40px;
    text-align: center;
    line-height: 24px;
}
#reservation-condition-red{
	border-right:solid 1px rgb(2,178,216);
}
#reservation-condition-add{
	border-left:solid 1px rgb(2,178,216);
}
#reservation-condition > div.reservation-condition-op > div:nth-child(2) div#reservation-condition-display{
	font-size:16px;
	color:rgb(85,85,85);
}
.reservation-condition-tips{
	font-size: 12px;
    color: rgb(136,136,136);
    margin-top: 10px;
}