

.button{
	width:280px;
	padding:10px;
	font-size:18px;
	margin:10px;
	border:none;
	/*background-color:rgb(216,216,216);*/
  background-color:rgb(52,176,206);
  color:white;
}
#new-roomType .item{
  position: relative;
  padding-left: 80px;
  line-height: 50px;
  padding-right: 10px;
}
.new-roomType-txt{
  position: absolute;
  left: 10px;
  top: 0;
  line-height: 50px;
  width: 80px;
}
#new-roomType-input{
  height: 30px;
  margin-top: 8px;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: left;
}
#bedType{

}